@mixin reset{
  margin: 0;
  padding: 0;
}
@mixin display($disp){
  display: $disp;
}
@mixin flex($direction){
  $disp: flex;
  @include display($disp);
  flex-direction: $direction;
}

@mixin justify($pos){
  justify-content: $pos;
}

@mixin box{
  box-sizing: border-box;
}

@mixin image-style{
  @include display(block);
  max-width: 100%;
}
