@mixin reset{
  margin: 0;
  padding: 0;
}

@mixin flex($direction){
  display: flex;
  flex-direction: $direction;
}

@mixin justify($pos){
  justify-content: $pos;
}

@mixin box{
  box-sizing: border-box;
}

@mixin block{
  display: block;
}
@mixin image-style{
  @include block;
  max-width: 100%;
}
