@import '_vars.scss';
@import '_imports.scss';

html,body{
  min-height: 100vh;
}
body{
  @include reset;
  background-color: $main-color;
  font-family: $main-font-family;
}

img{
  @include image-style;
}
.row{
  @include flex(row);
}

.app{
  min-height: 100vh;
  overflow-x: hidden;
  @include flex(column);
  position:relative;
  img{
    max-width: 100%;
  }
  .row{
    @include flex(row);
  }
  header{
    max-height:15vh;
    background-color: darken($main-color,15%);
    .logo{
      max-width: 48px;
      img{
        @include image-style;
      }
    }
    .row{
      @include justify(space-between);
      h1{
        @include reset;
        font-size: 1.2em;
        padding:10px;
      }
    }
  }
  #task-form{
    .row{
      #task-input{
        flex: 1;
        border:1px solid #cccccc;
        @include display(block);
        background-color:#eee;
        padding: $form-padding;
      }
      #task-input:focus{
        outline: 0;
        background-color:#fff;
      }
      button#task-add{
        padding: $form-padding;
        min-width:100px;
        background-color: darken($main-color,25%);
        border:1px solid darken($main-color,40%);
      }
      #task-add:focus{
        outline:0;
        background-color: darken($main-color,55%);
        color:#fff;
      }
    }
  }
  .main{
    flex:auto;
    ul#task-list{
      @include reset;
      max-height: 85vh;
      overflow-y: scroll;
      list-style: none;
      li{
        padding:1em;
        background-color: lighten( $main-color, 40%);
        border-bottom: 1px solid #eeeeee;
      }
      li:active{

      }
    }
  }
  footer{
    position:absolute;
    bottom:0;
    nav{
      @include flex(row);
      button{
        @include display(block);
        padding:$form-padding;
        flex:1;
      }
    }

  }
}
