@import '_vars.scss';
@import '_imports.scss';

html,body{
  min-height: 100vh;
}
body{
  @include reset;
  background-color: $main-color;
  font-family: $main-font-family;
}

img{
  max-width: 100%;
}
.row{
  @include flex(row);
}
header{
  background-color: darken($main-color,15%);
  .logo{
    max-width: 48px;

.app{
  img{
    max-width: 100%;
  }
  .row{
    @include flex(row);
  }
  header{
    background-color: darken($main-color,15%);
    .logo{
      max-width: 48px;
      img{
        @include image-style;
      }
    }
    .row{
      @include justify(space-between);
      h1{
        @include reset;
        font-size: 1.2em;
      }
    }
  }
  #task-form{
    .row{
      #task-input{
        flex: 1;
        border:1px solid #cccccc;
        @include block;
        background-color:#eee;
        padding: $form-padding;
      }
      #task-input:focus{
        outline: 0;
        background-color:#fff;
      }
      #task-add{
        padding: $form-padding;
        min-width:100px;
        background-color: darken($main-color,25%);
      }
      #task-add:focus{
        outline:0;
        background-color: darken($main-color,55%);
        color:#fff;
      }
    }
  }
}
