doctype html
html
  head
    title To Do List
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet',href='./styles/styles.css')
  body
    .app
      header.header
        .row
          .logo
            img.logo(src='./images/logo.svg')
          h1.app-title To Do List
        form#task-form
          .row
            input#task-input(type='text',placeholder='Add Task')
            button#task-add(type='submit') Add
      main.main
        ul#task-list
          li buy milk
          li finish assignments
    script(src='./js/main.js')
  template#task-templates
    li(id='',data-status='0')
      .task-name task name
      button(type='button',data-function='status')
      button(type='button',data-function='delete')
      
